body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
    background-color: white;
    color: black;
    max-width: 1400px;

    p {
        text-align: center;
    }
  }