body {
    font-family: "Roboto", sans-serif;
    font-family: "Shrikhand", cursive;
    background-color: white;
    color: black;
    max-width: 768px;
  }


 * {
    margin: 0;
  }
 /**header**/  
#logo {
    width: 162px;
    padding-top: 14px;
    padding-bottom: 5px;
}
.retour {
  padding-left: 23px;
  display: flex;
  justify-content: left;
}

.logo {
  padding-left: 64.8px;
}
.navigation a {
  text-decoration: none;
}
.navigation {
  width: 100%;
  height: 63px;
    display: flex;
    flex-direction: row;
    /**justify-content: space-around;**/
    align-items: center;
}
.photo img {
    width: 375px;
    height: 275px;
}

/** menu **/
.menu {
  position: relative;
  background-color: #f6f6f6;
  width: 375px;
  padding-bottom: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -40px;
}
.menu-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.heart__logo{
  position: relative;
}
.heart__logo--empty {
  position: absolute;
  padding-right: 25px;
  font-size: 1.5em;
  color: black ;
}
.heart__logo:hover .heart__logo--empty {
  opacity: 0;
}
.heart__logo--full {
  padding-right: 25px;
  opacity: 0;
  font-size: 1.5em;
  background: linear-gradient(#9356DC, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
transition: all 200ms;
}
.heart__logo:hover .heart__logo--full  {
  opacity: 1;
}
.menu-title i {
    font-size: 22px;
    padding-right: 41px;
}
.menu h2 {
  font-size: 27px;
  font-weight: 400;
  padding-left: 13px;
  padding-top: 32px;
}
.menu-subtitle {
  padding-left: 13px;
  display: flex;
  flex-direction: column;

}
/**
.menu-subtitle + .plats:nth-child(1){
animation: appear 1s 50ms ease-out both;
}
.menu-subtitle :nth-child(2){
  animation: appear 1s 50ms ease-out both;
  }
  .menu-subtitle + .plats:nth-child(2){
    animation: appear 1s 100ms ease-out both;
    }
    .menu-subtitle :nth-child(3){
      animation: appear 1s 100ms ease-out both;
      }
      .menu-subtitle + .plats:nth-child(3){
        animation: appear 1s 150ms ease-out both;
        }
        .menu-subtitle :nth-child(4){
          animation: appear 1s 150ms ease-out both;
          }
          .menu-subtitle + .plats:nth-child(4){
            animation: appear 1s 200ms ease-out both;   
            }
            .menu-subtitle :nth-child(5){
              animation: appear 1s 200ms ease-out both;
              }
              .menu-subtitle + .plats:nth-child(5){
                animation: appear 1s 250ms ease-out both;   
                }
                .menu-subtitle :nth-child(6){
                  animation: appear 1s 250ms ease-out both;
                  }
                  .menu-subtitle + .plats:nth-child(6){
                    animation: appear 1s 300ms ease-out both;   
                    }
                    .menu-subtitle :nth-child(7){
                      animation: appear 1s 300ms ease-out both;
                      }
                      .menu-subtitle + .plats:nth-child(6){
                        animation: appear 1s 350ms ease-out both;   
                        }
                        .menu-subtitle :nth-child(7){
                          animation: appear 1s 350ms ease-out both;
                          }
                          .menu-subtitle + .plats:nth-child(6){
                            animation: appear 1s 400ms ease-out both;   
                            }
                            .menu-subtitle :nth-child(7){
                              animation: appear 1s 400ms ease-out both;
                              }
                              .menu-subtitle + .plats:nth-child(7){
                                animation: appear 1s 450ms ease-out both;   
                                }
                                .menu-subtitle :nth-child(8){
                                  animation: appear 1s 450ms ease-out both;
                                  }
                                  .menu-subtitle + .plats:nth-child(8){
                                    animation: appear 1s 500ms ease-out both;   
                                    }
                                    .menu-subtitle :nth-child(9){
                                      animation: appear 1s 500ms ease-out both;
                                      }
                                      .menu-subtitle + .plats:nth-child(9){
                                        animation: appear 1s 550ms ease-out both;   
                                        }
                                        .menu-subtitle :nth-child(10){
                                          animation: appear 1s 550ms ease-out both;
                                          }
                                          .menu-subtitle + .plats:nth-child(10){
                                            animation: appear 1s 600ms ease-out both;   
                                            }
                                            .menu-subtitle :nth-child(11){
                                              animation: appear 1s 600ms ease-out both;
                                              }
                                              .menu-subtitle + .plats:nth-child(11){
                                                animation: appear 1s 650ms ease-out both;   
                                                }
                                                .menu-subtitle :nth-child(12){
                                                  animation: appear 1s 650ms ease-out both;
                                                  }
              
@keyframes appear{
    0% {
        transform: translatey(20%);
        opacity: 0;   
    }
   100% {
        transform: translatey(0);
        opacity: 1;
    }
  } **/

.menu-subtitle h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px #99e2d0 solid;
  margin-right: 320px;
  margin-top: 28px;
  margin-bottom: 12px;
}
.plats {
  background-color: white;
  width: 349px;
  height: 69px;
  border-radius: 15.04px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10);
  font-family: "Roboto", sans-serif;
  display: flex; 
  flex-direction: row;
justify-content: space-between;
margin-bottom: 12px;
overflow: hidden;
}
.intitulé {
  padding-left: 15px;
  width: 280px;

    /**box-sizing: border-box;**/
   /** border: 1px solid white;
    margin: 0 auto;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; **/

}

.intitulé p {
  /**width: 280px;**/
  font-size: 15.04px;
  font-weight: 300;
  padding-bottom: 12px;
  border: 1px solid white;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.intitulé h4 {

  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 4px;
}
.translate {
display: flex;
flex-direction: row;
}

.plats  :hover + .translate {
 transform: translateX(-59px);
  transition: transform 500ms;
overflow: hidden;
display: inline-flex;
/**z-index: -1;**/
}

/**.plats :hover + .check{
/**display: inline-flexbox;
overflow: hidden;
/**z-index: -1;**/

.prix {
  padding-top: 38px;
padding-left: 10px;
  width: 35px;
  font-weight: 500;
  font-size: 15.04px;  
}
.check {
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 9px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 69px;
  z-index: -1;
/**overflow: hidden;**/
}
.plats a{
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  
}
.check i {
  font-size: small;
  padding: 3px 4px ;
  margin-right: 10px;
  border-radius: 9px;
  color: #99e2d0;
  background-color: white;
}


.commande {
  display: flex;
  justify-content: center;
  margin-top: 40px ;
}
.commande a{
  text-decoration: none;
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  padding: 16px 49px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.commande a:hover {
    /* Add shadows to create the "card" effect */
    box-shadow:0px 8px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    opacity: 0.8;
}


/**footer**/
.footer {
  width: 100%;
  height: 186px;
  background-color: #353535;
  color: white;
  align-content: flex-start;
  justify-content: center;
  padding-left: 25px;
}

.footer-txt {
  display: flex;
  flex-direction: column;
}
.footer-title {
  font-family: shrikhand;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding-top: 18px;
  padding-bottom: 14px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer-txt a {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
}
.footer-logo a {
  font-weight: 500;
  padding-left: 10px;
}
.footer-logo p {
  padding-bottom: 5px;
}
.footer-logo i {
  font-size: small;
}
.footer-small {
  display: flex;
  flex-direction: column;
}
.footer-small a {
  padding-bottom: 6px;
}

